<div class="jumbotron jumbotron-fluid">
    <div class="container text-light">
      <h1 class="display-4 mt-5">OUR MISSION:</h1>
          
    
      <h3 class= "display-5">To unite ugly doggos with loving and forgiving people. All Dogs deserve love ♥</h3>

      <p class="lead">Lorem ipsum dolor sit amet, 
          consectetur adipisicing elit. Voluptates reprehenderit sit eveniet 
          qui dicta id quia assumenda, nihil mollitia veritatis..
        Lorem ipsum dolor sit amet, 
          consectetur adipisicing elit. Voluptates reprehenderit sit eveniet 
          qui dicta id quia assumenda, nihil mollitia veritatis..
          Lorem ipsum dolor sit amet, 
          consectetur adipisicing elit. Voluptates reprehenderit sit eveniet 
          qui dicta id quia assumenda, nihil mollitia veritatis..
          Lorem ipsum dolor sit amet, 
          consectetur adipisicing elit. Voluptates reprehenderit sit eveniet 
          qui dicta id quia assumenda, nihil mollitia veritatis..
      </p>
    </div>
</div>